<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>JavaScript</title>
</head>
<body>
    <header>Лабараторная 1</header>
        <div class="container">
            Число 1 <input type="number" class="input1"><p>
            Число 2 <input type="number" class="input2"><p>
            Число 3 <input type="number" class="input3"><p>
            
                <div class="out"></div>
            <button class="button4">Подсчёт</button>
            
            
        </div>
    <script src="lab1.js"></script>
</body>
</html>